<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>AppID Users</title>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="AppID Users"/>

<style type="text/css">
html, body{
  text-align: center;
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}
</style>
<script>
function userLogout(){
  window.location.href = '/appid/logout';
}
</script>
</head>
<body>

<div class="container" style="text-align: right;">
  <button class="btn btn-primary" onClick="userLogout();">Logout</button>
</div>
<div class="container">
  <ul>
    <li>ID: <%= user.id %></li>
    <li>Name: <%= user.name %></li>
    <li>Email: <%= user.email %></li>
  </ul>
</div>

</body>
</html>
